* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:linear-gradient(130deg,#EDF1F5,#6baadd);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 100vh;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #eae69e;
    min-height: 250px;
    /* width: 100%; */
    width: 1200px;
    margin-top: 40px;
}
.products{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 4fr 3fr;
}

.containerBox{
    display: flex;
}